<div class="side-nav-wrapper">
  {{#if isOnSingleTopic}}
    {{side-dropdown}}    
  {{else}}
    <button class="question-btn">
      <span class="btn-text">Ask a Question</span>
    </button>
  {{/if}}
  {{top-contributors}}
  {{important-links}}
  {{community-browser}}
  {{top-events}}
</div>